body {
	background-color: rgb(4, 4, 22);
	font-family:sans-serif;
}

.name{
  text-align: center;
	color: rgb(45, 171, 212);
}

ul{
	display: flex;
	position: relative;
	width: 340px;
	height: 100px;
	margin: auto;
	clear: left;
}

li{
	width: 90px;
	height: 90px;
	list-style: none;
	background-color: rgb(84, 187, 221);
	margin: 5px;
	font-family: sans-serif;
	font-size: 80px;
	text-align: center;
	cursor: pointer;
	border-radius: 15% 15% 15px 15px;
	float: left;
	display: inline;
}

li:active{
	background-color: rgb(0, 183, 255);
}

.winner{
	background-color: rgb(223, 172, 45);
}

.winner:active{
	background-color: rgb(223, 200, 45);
}

#again {
	font-size: 18px;
	position: static;
	width: 270px;
	height: 100px;
	background-color: rgb(101, 195, 226);
	cursor: pointer;
	text-align: center;
	padding: 20px 0 2px 5px;
	margin: auto;
	margin-top: 20px;
	border-radius: 15px 15px 15px 15px;
}

#again .active{
	margin: 5px;
}

#again:active{
	background-color: rgb(0, 183, 255);
}